sphinx==8.2.3
codecov==2.1.13
commonlibs
matplotlib==3.10.1
model-framework
numpy==2.2.5
pytest-cov==6.1.1
pytest==8.3.5
schemadict==0.0.12
scipy==1.15.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-mermaid==1.0.0
tox==4.25.0

