Sphinx==3.3.1
codecov==2.1.10
commonlibs>=0.4.0
matplotlib>=3.0.2
model-framework
numpy==1.19.4
pytest-cov==2.10.1
pytest==6.1.2
schemadict>0.0.8
scipy==1.5.4
sphinx-rtd-theme==0.5.0
sphinxcontrib-mermaid==0.5.0
tox==3.20.1
