Sphinx==3.5.1
codecov==2.1.11
commonlibs>=0.4.0
matplotlib>=3.0.2
model-framework
numpy==1.20.1
pytest-cov==2.11.1
pytest==6.2.2
schemadict>0.0.8
scipy==1.6.1
sphinx-rtd-theme==0.5.1
sphinxcontrib-mermaid==0.6.3
tox==3.22.0
